.head1{
    text-align: center;
    background-color: rgb(220, 140, 19);
}
h1{
    color: rgb(46, 181, 235);

}
.img{
    border-radius: 30px;
    border: 5px solid rgb(243, 75, 159);
}
.biginfo{
    display: flex;
    gap: 20px;
}

h3{
    color: rgb(19, 221, 194);
}